<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneycruncher"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.moneycruncher.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.moneycruncher.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.CreateAccountActivity"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.DisplayAccountActivity"
            android:label="@string/title_activity_display_account" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.DepositActivity"
            android:label="@string/title_activity_deposit" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.WithdrawActivity"
            android:label="@string/title_activity_withdraw" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.SpendingCategoryReportActivity"
            android:label="@string/title_activity_spending_category_report" >
        </activity>
        <activity
            android:name="com.example.moneycruncher.CashFlowReportActivity"
            android:label="@string/title_activity_cash_flow_report" >
        </activity>
    </application>

</manifest>
